@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Montserrat:wght@400;700&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body{
	height: 100vh;
	margin: 0;
	background: #000;
}

.grid-container{
	display: grid;
	grid-template-columns: 1fr 1.2fr;
	grid-template-rows: 1fr 7fr 0.5fr;
	grid-template-areas:
	"main righttop"
	"main rightdiv"
	"main footerdiv";
	height: 100vh;

}

.leftdiv{
	background: url('../images/comp6.jpg');
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
	grid-area: main;
	width: 100%;
	height: 100vh;
	
}

.righttop{
	/*background: blue;*/
	grid-area: righttop;
	width: 100%;
	height: auto;
	/*text-align: left;*/
	position: relative;
	top: 5px;
	text-align: center;
	
	 display: flex;
  flex-direction: row;
  justify-content: center;
  

  
}

.righttop a{
	text-decoration: none;
	font-size: .8rem;
	font-weight: bold;
	color: #fff;
	padding: 30px;
	
	/*margin-right: 20px;*/
}

.righttop>div{
	background: black;
	border-radius: 10px;
  text-align: center;
  margin: 12px;
  
  
  
  font-size: 30px;
}
.rightdiv{
	
	background: #fff/*#ffe1b0*/;
	grid-area: rightdiv;
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.rightdiv h1{
	text-align: center;
	padding-top: 20px;
}

.introduction{
	text-align: center;
	padding: 20px;
}

.footerdiv{
	
	background: #000;
	grid-area: footerdiv;
	width: 100%;
	height: auto;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding: 20px;
}

@media screen and (max-width: 1100px) {
  .righttop a{
	font-size: .8rem;
	
	/*margin-right: 20px;*/
	}
}

@media screen and (max-width: 1004px) {
  .righttop a{
	font-size: .6rem;
	
	/*margin-right: 20px;*/
	}
}

@media screen and (max-width: 907px) {
  .righttop a{
	font-size: .6rem;
	padding: 20px;
	/*margin-right: 20px;*/
	}
}

@media screen and (max-width: 770px) {
	.grid-container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1.5fr 3fr 1fr;
	grid-template-areas:
	"righttop"
	"main"
	"rightdiv"
	"footerdiv";
	height: 100vh;

}

	.righttop{
		grid-area:righttop; 
	}  

	.righttop a{
	font-size: .6rem;
	padding: 10px;
	/*margin-right: 20px;*/
	}

	.main{
		grid-area: main;

	}

	.rightdiv{
		grid-area: rightdiv;
		height: 500px;

	}

	.footerdiv{
		grid-area: footerdiv;
		padding: 20px;
	}
  
